In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path  = r'C:\Users\Layzr\Desktop\School\Data Immersion Part 6'

In [3]:
df = pd.read_csv(os.path.join(path, 'Data', 'achievement_6_dataset.csv'), encoding='latin1')

In [4]:
df.shape

(1999, 35)

In [5]:
df.head(10)

,Year,Player,Age,Team,Lg,WAR,G,PA,AB,R,...,Rbat+,TB,GIDP,HBP,SH,SF,IBB,Pos,Awards,Player-additional
0,2023,Marcus Semien,32,TEX,AL,7.7,162,753,670,122,...,131,320,5,5,0,5,1,*4,ASMVP-3SS,semiema01
1,2023,Ronald Acuña Jr.,25,ATL,NL,8.4,159,735,643,149,...,175,383,15,9,0,3,3,*9/D,ASMVP-1SS,acunaro01
2,2024,Jarren Duran*,27,BOS,AL,8.7,160,735,671,111,...,134,330,6,6,1,3,1,*87,ASMVP-8,duranja01
3,2024,Shohei Ohtani*,29,LAD,NL,9.2,159,731,636,134,...,190,411,7,6,0,5,10,*D,ASMVP-1SS,ohtansh01
4,2023,Freddie Freeman*,33,LAD,NL,6.8,161,730,637,131,...,167,361,14,16,0,5,12,*3,ASMVP-3,freemfr01
5,2023,Alex Bregman,29,HOU,AL,4.9,161,724,622,103,...,124,274,22,8,0,2,1,*5/D,MVP-22,bregmal01
6,2023,Nathaniel Lowe*,27,TEX,AL,2.9,161,724,623,89,...,117,258,22,5,0,3,2,*3,GG,lowena01
7,2022,Marcus Semien,31,TEX,AL,5.7,161,724,657,101,...,111,282,7,4,0,10,0,*46,NaN,semiema01
8,2023,Kyle Schwarber*,30,PHI,NL,0.7,160,720,585,108,...,119,277,4,6,0,3,5,7D,MVP-19,schwaky01
9,2023,Matt Olson*,29,ATL,NL,7.5,162,720,608,127,...,163,367,13,4,0,4,8,*3,ASMVP-4SS,olsonma02

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               1999 non-null   int64
 1   Player             1999 non-null   object
 2   Age                1999 non-null   int64
 3   Team               1999 non-null   object
 4   Lg                 1999 non-null   object
 5   WAR                1994 non-null   float64
 6   G                  1999 non-null   int64
 7   PA                 1999 non-null   int64
 8   AB                 1999 non-null   int64
 9   R                  1999 non-null   int64
 10  H                  1999 non-null   int64
 11  2B                 1999 non-null   int64
 12  3B                 1999 non-null   int64
 13  HR                 1999 non-null   int64
 14  RBI                1999 non-null   int64
 15  SB                 1999 non-null   int64
 16  CS                 1999 non-null   int64
 17  BB                 1999 non-null   int64
 18  SO                 1999 non-null   int64
 19  BA                 1999 non-null   float64
 20  OBP                1999 non-null   float64
 21  SLG                1999 non-null   float64
 22  OPS                1999 non-null   float64
 23  OPS+               1999 non-null   int64
 24  rOBA               1999 non-null   float64
 25  Rbat+              1999 non-null   int64
 26  TB                 1999 non-null   int64
 27  GIDP               1999 non-null   int64
 28  HBP                1999 non-null   int64
 29  SH                 1999 non-null   int64
 30  SF                 1999 non-null   int64
 31  IBB                1999 non-null   int64
 32  Pos                1999 non-null   object
 33  Awards             231 non-null    object
 34  Player-additional  1999 non-null   object
dtypes: float64(6), int64(23), object(6)
memory usage: 546.7+ KB
None

In [7]:
df = df.drop_duplicates()

In [8]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [9]:
df['year'] = df['year'].astype('string')

In [10]:
df['pos'] = df['pos'].astype('string')

In [11]:
df['awards'] = df['awards'].astype('string')

In [12]:
df['player-additional'] = df['player-additional'].astype('string')

In [13]:
df.dtypes

year                 string[python]
player                       object
age                           int64
team                         object
lg                           object
war                         float64
g                             int64
pa                            int64
ab                            int64
r                             int64
h                             int64
2b                            int64
3b                            int64
hr                            int64
rbi                           int64
sb                            int64
cs                            int64
bb                            int64
so                            int64
ba                          float64
obp                         float64
slg                         float64
ops                         float64
ops+                          int64
roba                        float64
rbat+                         int64
tb                            int64
gidp                          int64
hbp                           int64
sh                            int64
sf                            int64
ibb                           int64
pos                  string[python]
awards               string[python]
player-additional    string[python]
dtype: object

In [14]:
print(df.describe())

               age          war            g           pa           ab  \
count  1999.000000  1994.000000  1999.000000  1999.000000  1999.000000
mean     27.728864     0.889468    75.728864   274.439220   245.907954
std       3.676008     1.704944    51.112983   215.304617   192.135154
min      19.000000    -2.100000     1.000000     1.000000     1.000000
25%      25.000000    -0.200000    27.000000    73.000000    66.000000
50%      27.000000     0.300000    73.000000   237.000000   213.000000
75%      30.000000     1.575000   123.000000   451.000000   403.000000
max      42.000000    10.800000   162.000000   753.000000   671.000000

                 r            h           2b           3b           hr  ...  \
count  1999.000000  1999.000000  1999.000000  1999.000000  1999.000000  ...
mean     32.310655    60.198599    11.975488     1.026513     8.272136  ...
std      28.788223    51.536279    10.926815     1.610090     9.280577  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       7.000000    13.000000     2.000000     0.000000     1.000000  ...
50%      25.000000    48.000000     9.000000     0.000000     5.000000  ...
75%      53.000000    99.000000    20.000000     2.000000    13.000000  ...
max     149.000000   217.000000    59.000000    14.000000    62.000000  ...

               ops         ops+         roba        rbat+           tb  \
count  1999.000000  1999.000000  1999.000000  1999.000000  1999.000000
mean      0.642885    79.679340     0.289118    78.324662    99.043522
std       0.204013    55.590251     0.083641    60.025680    88.093042
min       0.000000  -100.000000    -0.084000  -145.000000     0.000000
25%       0.566000    60.000000     0.261000    58.000000    20.500000
50%       0.666000    86.000000     0.300000    87.000000    76.000000
75%       0.750000   109.000000     0.333000   110.000000   162.000000
max       2.500000   574.000000     1.023000   600.000000   411.000000

              gidp          hbp           sh           sf          ibb
count  1999.000000  1999.000000  1999.000000  1999.000000  1999.000000
mean      5.047524     3.090545     0.635818     1.858429     0.729365
std       5.057254     3.822554     1.395846     2.104970     1.910482
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       1.000000     0.000000     0.000000     0.000000     0.000000
50%       3.000000     2.000000     0.000000     1.000000     0.000000
75%       8.000000     4.500000     1.000000     3.000000     1.000000
max      30.000000    34.000000    14.000000    13.000000    22.000000

[8 rows x 28 columns]

In [16]:
df.to_csv(os.path.join(path, 'Data', 'cleaned_dataset.csv'))